@import 'sass/modules/design-tokens';

html, body {
  font-family: $main-font-family;
  padding: 0;
  margin: 0;
  background-color: $color-text-background;
  color: $color-text-foreground;
}
html {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

p  {
  margin: 0 0 0.7em;
  padding: 0;
  line-height: 1.5;
}

:link {
  color: $color-link-foreground;
  text-decoration: none;
  &:visited {
    color: $color-link-visited-foreground;
  }
  &:hover {
    color: $color-link-hover-foreground;
  }
}




.constrained-w {
  max-width: 100%;
}

.has-icon {
  i,
  svg {
    padding-right: 0.4em;
  }
}

.text-center {
  text-align: center;
}





