/** Typography **/
html { font-size: 62.5%; }
body { font-size: 2rem; line-height: 1.4; }
@media only screen and (min-width: $breakpoint-sm) {
  body {
    font-size: 2rem;
  }
}

.container {
  width: 98vw;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "body" "links" "graphic";

  .graphic {
    grid-area: graphic;
    text-align: center;
  }
  .body {
    grid-area: body;
    padding: 1vw;
  }
  .links {
    grid-area: links;
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "graphic body links";
  }
}

.hboxes {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  .hbox {
    margin: 1em 0;
  }
}

@media only screen and (min-width: $breakpoint-sm) {
  .hboxes {
    padding: 0;
    flex-wrap: wrap;
    .hbox {
      flex-basis: 100%;
    }
  }
}