/**
 * @overview Design Tokens - named values and how to use them
 */
/**
 * Choices - the raw values
 * for the most part these should not be used outside of this file
 */
/**
 * Decisions - Named properties
 */
html, body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
  color: #0f0f0f; }

html {
  min-height: 100vh; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0; }

p {
  margin: 0 0 0.7em;
  padding: 0;
  line-height: 1.5; }

:link {
  color: #be18d6;
  text-decoration: none; }
  :link:visited {
    color: #811091; }
  :link:hover {
    color: #d84feb; }

.constrained-w {
  max-width: 100%; }

.has-icon i,
.has-icon svg {
  padding-right: 0.4em; }

.text-center {
  text-align: center; }

/** Typography **/
html {
  font-size: 62.5%; }

body {
  font-size: 2rem;
  line-height: 1.4; }

@media only screen and (min-width: 48em) {
  body {
    font-size: 2rem; } }

.container {
  width: 98vw;
  margin: 0 auto; }

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "body" "links" "graphic"; }
  .container .graphic {
    grid-area: graphic;
    text-align: center; }
  .container .body {
    grid-area: body;
    padding: 1vw; }
  .container .links {
    grid-area: links; }

@media only screen and (min-width: 48em) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "graphic body links"; } }

.hboxes {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap; }
  .hboxes .hbox {
    margin: 1em 0; }

@media only screen and (min-width: 48em) {
  .hboxes {
    padding: 0;
    flex-wrap: wrap; }
    .hboxes .hbox {
      flex-basis: 100%; } }

.icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }

/**
 * @overview Design Tokens - named values and how to use them
 */
/**
 * Choices - the raw values
 * for the most part these should not be used outside of this file
 */
/**
 * Decisions - Named properties
 */
h1 {
  font-size: calc(2vw + 1vh + 1vmin); }

@media only screen and (min-width: 48em) {
  h1 {
    font-size: calc(2vw + 2vh + 2vmin); } }

h2 {
  font-size: calc(1vw + 1vmin); }

@media only screen and (min-width: 48em) {
  h2 {
    font-size: calc(1vw + 1vh + 1vmin); } }

.page-title {
  text-align: center;
  margin-bottom: 4rem;
  padding-bottom: 2rem;
  background-color: #232a81; }
  .page-title h1.heading {
    font-weight: 200;
    color: white; }
  .page-title .subheading {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ff75a2; }

/**
 * @overview Design Tokens - named values and how to use them
 */
/**
 * Choices - the raw values
 * for the most part these should not be used outside of this file
 */
/**
 * Decisions - Named properties
 */
.leff {
  font-family: "Vollkorn", serif;
  font-weight: 900;
  margin-left: -0.15em;
  margin-right: -0.15em; }

@keyframes rainbow {
  0% {
    fill: #7ac943; }
  33% {
    fill: #f05a24; }
  66% {
    fill: #3fa9f5; }
  100% {
    fill: #7ac943; } }

.leff-logo-svg-inline {
  display: inline-block;
  height: .8em;
  padding: .1em; }
  .leff-logo-svg-inline .circle {
    fill: #3fa9f5;
    animation-name: rainbow;
    animation-duration: 5s;
    animation-iteration-count: infinite; }

/**
 * @overview Design Tokens - named values and how to use them
 */
/**
 * Choices - the raw values
 * for the most part these should not be used outside of this file
 */
/**
 * Decisions - Named properties
 */
.big-icon {
  display: inline-block;
  text-align: center;
  font-size: 1.2rem;
  width: 100px;
  position: relative; }
  .big-icon img {
    display: block;
    margin: 0 auto;
    opacity: 0.75; }
  .big-icon .tooltip-container {
    display: none;
    position: absolute;
    top: 40%;
    left: 110px;
    z-index: 1000; }
  .big-icon .tooltip-content {
    padding: 0.6em;
    background-color: #ff75a2;
    color: #0f0f0f;
    white-space: nowrap;
    border-radius: .3em; }
  .big-icon .tooltip-arrow {
    width: 0;
    height: 0;
    border-top: 0.65em solid white;
    border-bottom: 0.65em solid white;
    border-right: 0.65em solid #ff75a2;
    background-color: white;
    display: block;
    position: absolute;
    top: 0;
    left: -.55em; }
  .big-icon:hover img {
    opacity: 1; }
  .big-icon:hover .tooltip-container {
    display: block; }

@media only screen and (min-width: 48em) {
  .big-icon .tooltip-container {
    left: -110px; }
  .big-icon .tooltip-arrow {
    border-left: 0.65em solid #ff75a2;
    border-right: none;
    left: auto;
    right: -.55em; } }
