doctype
html
  head
    title Jason Brackins
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    meta(charset="utf-8")
    link(rel="Shortcut Icon" href="assets/leff-logo-0.5x.png" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css?family=Raleway:200,400,700|Vollkorn:900" rel="stylesheet")
    link(href="jb.css" rel="stylesheet")
    script(defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous")



  body
    .page-title
      h1.heading Jason <span class="leff">leff</span> Brackins
      h2.subheading UX Engineer

    article.container
      section.body
        p Hi, I'm Jason. Sometimes known as
          span.leff-logo-svg-inline(aria-label="leff" title="leff" alt="leff")
            include ../image-src/leff.logo.svg

        p I make web apps with a focus on the <strong>Front End</strong>.
        p I enjoy photographing Chicago, my new home town.
        p
          i.fa.fa-map-pin(aria-hidden="true")
          span &nbsp; Chicago, IL.

      section.links
        .hboxes
          .hbox
            a.box.big-icon(href="https://docs.google.com/document/d/1Danz75nBo7yD-jegYf4-8lL6dcvaSOMdMa6yP8P_6fQ/edit?usp=sharing" target="_blank")
              img(src="assets/resume-75px.png")
              | Resume
              span.tooltip-container
                span.tooltip-content View on Google Docs
                span.tooltip-arrow


        .hboxes
          .hbox
            h3 Pro Links
            ul.icon-list
              li
                a.has-icon(href="https://github.com/leff" title="github: leff" target="_blank")
                  i.fab.fa-github(aria-hidden="true")
                  span Github
              li
                a.has-icon(href="https://www.linkedin.com/in/jasonbrackins" title="linkedin: jasonbrackins" target="_blank")
                  i.fab.fa-linkedin(aria-hidden="true")
                  span Linkedin
          .hbox
            h3 Personal
            ul.icon-list
              li
                a.has-icon(href="https://www.instagram.com/leff.out/" title="instagram: @leff.out" target="_blank")
                  i.fab.fa-instagram(aria-hidden="true")
                  span Instagram
              li
                a.has-icon(href="https://twitter.com/leff" title="twitter: @leff" target="_blank")
                  i.fab.fa-twitter(aria-hidden="true")
                  span Twitter

          .hbox
            h3 Photography
            ul.icon-list
              li
                a.has-icon(href="https://leff.myportfolio.com/" title="portfolio" target="_blank")
                  i.fas.fa-camera-retro(aria-hidden="true")
                  span Portfolio
              li
                a.has-icon(href="https://chicagoasitstands.wordpress.com/" title="Chicago As It Stands" target="_blank")
                  i.fas.fa-camera-retro(aria-hidden="true")
                  span Chicago As It Stands (photo blog)
              //- li
              //-   a.has-icon(href="https://leff.threadless.com/" title="prints available at Threadless" target="_blank")
              //-     i.far.fa-images(aria-hidden="true")
              //-     span Threadless
              //- li
              //-   a.has-icon(href="https://www.redbubble.com/people/leff-photo?asc=u" title="prints avilable at RedBubble" target="_blank")
              //-     i.far.fa-images(aria-hidden="true")
              //-     span Redbubble

      section.graphic
        img.constrained-w(src="assets/leff-face.jpg")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-84408339-1', 'auto');
      ga('send', 'pageview');
