@import './design-tokens';

.big-icon {
  display: inline-block;
  text-align: center;
  font-size: 0.8em;
  width: 100px;
  img {
    display: block;
    margin: 0 auto;
    opacity: 0.75;
  }

  position: relative;
  .tooltip-container {
    display: none;
    position: absolute;
    top: calc(100% + 1em);
    left: 0;
    z-index: 1000;
  }
  .tooltip-content {
    padding: 0.6em;
    background-color: $big-icon-tooltip-background;
    color: $big-icon-tooltip-foreground;
    white-space: nowrap;
    border-radius: .3em;
  }
  .tooltip-arrow {
    width: 0;
    height: 0;
    border-right: .65em solid $color-text-background;
    border-left: .65em solid $color-text-background;
    border-bottom: .65em solid $big-icon-tooltip-background;
    background-color: $color-text-background;
    display: block;
    position: absolute;
    top: -1.2em;
    left: 2em;
  }

  &:hover {
    img { opacity: 1; }
    .tooltip-container {
      display: block;
    }
  }
}
@media only screen and (min-width: $breakpoint-sm) {
  .big-icon {
    .tooltip-container {
      right: calc(.65em + 100%);
      left: auto;
      top: 20%;
    }
    .tooltip-arrow {
      border-top: .65em solid $color-text-background;
      border-bottom: .65em solid $color-text-background;
      border-left: .65em solid $big-icon-tooltip-background;
      left: auto;
      top: 5%;
      left: calc(100% - 1px);
    }
  }
}